<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="header-container">
        <h1>Grid Art Painter</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="instructions-container">
        <p>Instructions: Single click to paint and double click to remove paint</p>
      </div>
    </div>

    <div class="row utility-container">
      <div class="col-md-4">
        <div id="dimensions-select-container">
          <label for="dimensions-select">Dimensions:</label>
          <select id="dimensions-select">
            <option value="5">5 x 5</option>
            <option value="10" selected>10 x 10</option>
            <option value="20">20 x 20</option>
            <option value="30">30 x 30</option>
            <option value="40">40 x 40</option>
            <option value="50">50 x 50</option>
          </select>  
        </div>
      </div>
      <div class="col-md-4" id="palette-container">
        <label for="palette">Color</label>
        <input type="color" id="palette">
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary" id="refresh-button">Refresh</button>
      </div>
    </div>
    <div class="row utility-container">
      <div class="col-md-12" id="canvas-container">
        <div id="canvas"></div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="module" src="/public/js/index.js"></script>
  <script type="module" src="/public/js/block.js"></script>
  <script type="module" src="/public/js/canvas.js"></script>

</body>

</html>