.row {
  display: flex;
}

.block {
  width: 20px;
  height: 20px;
  border: 1px solid;
}

.block+.block {
  border-left: 0;
}

#color-hexcode-container {
  display: flex;
  gap: 10px;
}

#color-container {
  display: flex;
  gap: 100px;
}